* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /*font-family: 'PT Sans Caption', sans-serif;*/
}

a {
    text-decoration: none;
    color: inherit;
    text-underline: none;
}

ul {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 29px;
}

h2 {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #575757;
}

h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #4E5FFF;
}

h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    color: #000000;
}

h5 {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}

h6 {
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.065em;
    color: #000000;

}

.p1 {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #575757;
}



.p2 {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #575757;
}

.p3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 170%;
    color: #575757;
}


body {
    height: 100%;
    background: linear-gradient(-110deg, #ee82ee, #ff0000);
    opacity: 80%;
}

header, footer {
    width: 797px;
    background: #fff;
    margin: 0 auto;
    padding: 10px 50px 15px;

}

header nav ul,
footer {
    display: flex;
    justify-content: space-between;

}

header nav ul li:hover,
footer a:hover,
main a:hover {
    color: #4E5FFF;
    transition: 0.3s;
    font-weight: 600;
}


.cv {
    z-index: 2;
    width: 797px;
    /*height: 1127px;*/
    background: #fff;
    margin: 10px auto;
    padding: 70px 50px 49px;
    display: flex;
    justify-content: space-between;
}

.cv-right {
    width: 149px;
}

.cv-left {
    width: 360px;
}

.cv-left section:not(:last-child),
.cv-right section:not(:last-child){
    margin-bottom: 30px;
}

.cv-summary {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding-bottom: 15px;
}

.cv-summary h1{
    margin-bottom: 12px;
}

.cv-summary h2{
    margin-bottom: 24px;
}

.cv-summary ul li{
    margin-bottom: 5px;
}

.cv-summary .p1{
    padding-top: 15px;
}

.cv-experience {
    margin-top: 30px;
}

section .p2{
    margin-top: 15px;
}

section h3{
    margin-bottom: 15px;
}

.cv-experience-item {
    display: flex;
    margin-bottom: 5px;
}

.cv-education h4,
.cv-education h5 {
    margin-bottom: 5px;

}

.cv-photo-wrap {
    position: relative;
    height: 300px;

}

.cv-photo-wrap img {
    position: absolute;
    right: 0;
    top: 0;
    width: 150%;
}

.svg-logo svg{
    width: 60px;
}